<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/addmember" , method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <br>
        <br>

        <label for="image">image url:</label><br>
        <input type="text" id="image" name="image" required><br>
        <br>
        <br>

        <label for="facebook">Facebook url:</label><br>
        <input type="text" id="facebook" name="facebook"><br>
        <br>
        <br>
        <label for="linkedin">linkedin url:</label><br>
        <input type="text" id="linkedin" name="linkedin"><br>
        <br>
        <br>
        <label for="gmail">Email url:</label><br>
        <input type="text" id="gmail" name="gmail"><br>
        <br>
        <br>
        <label for="instagram">instagram url:</label><br>
        <input type="text" id="instagram" name="instagram"><br>
        <br>
        <br>

        <label for="position">Post:</label><br>
        <input type="radio" id="Convenor" name="position" value="Convenor">
        <label for="position">Convenor</label><br>
        <input type="radio" id="Co-Convenor" name="position" value="Co-Convenor">
        <label for="position">Co-Convenor</label><br>
        <input type="radio" id="Core Member" name="position" value="Core Member">
        <label for="position">Core Member</label><br>
        <input type="radio" id="Technical Head" name="position" value="Technical Head">
        <label for="position">Technical Head</label><br>
        <input type="radio" id="Graphics Designer" name="position" value="Graphics Designer">
        <label for="position">Graphics Designer</label><br>
        <input type="radio" id="Creative Head" name="position" value="Creative Head">
        <label for="position">Creative Head</label><br>
        <input type="radio" id="Mentor" name="position" value="Mentor">
        <label for="position">Mentor</label><br>
        <br>

        <label for="year">Year: </label><br>
        <input type="radio" id="year" name="year" value="2020-21">
        <label for="year">3</label><br>
        <input type="radio" id="year" name="year" value="2019-20">
        <label for="year">4</label><br>
        <input type="radio" id="year" name="year" value="2018-19">
        <label for="year">5</label><br>
        <input type="radio" id="year" name="year" value="2017-18">
        <label for="year">pass</label><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>